@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 100;
  font-display: fallback;
  src: url(../fonts/PublicSans-Thin.woff2) format("woff2"),
    url(../fonts/PublicSans-Thin.woff) format("woff"),
    url(../fonts/PublicSans-Thin.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url(../fonts/PublicSans-ExtraLight.woff2) format("woff2"),
    url(../fonts/PublicSans-ExtraLight.woff) format("woff"),
    url(../fonts/PublicSans-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url(../fonts/PublicSans-Light.woff2) format("woff2"),
    url(../fonts/PublicSans-Light.woff) format("woff"),
    url(../fonts/PublicSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(../fonts/PublicSans-Regular.woff2) format("woff2"),
    url(../fonts/PublicSans-Regular.woff) format("woff"),
    url(../fonts/PublicSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url(../fonts/PublicSans-Medium.woff2) format("woff2"),
    url(../fonts/PublicSans-Medium.woff) format("woff"),
    url(../fonts/PublicSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url(../fonts/PublicSans-SemiBold.woff2) format("woff2"),
    url(../fonts/PublicSans-SemiBold.woff) format("woff"),
    url(../fonts/PublicSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(../fonts/PublicSans-Bold.woff2) format("woff2"),
    url(../fonts/PublicSans-Bold.woff) format("woff"),
    url(../fonts/PublicSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: url(../fonts/PublicSans-ExtraBold.woff2) format("woff2"),
    url(../fonts/PublicSans-ExtraBold.woff) format("woff"),
    url(../fonts/PublicSans-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: url(../fonts/PublicSans-Black.woff2) format("woff2"),
    url(../fonts/PublicSans-Black.woff) format("woff"),
    url(../fonts/PublicSans-Black.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 100;
  font-display: fallback;
  src: url(../fonts/PublicSans-ThinItalic.woff2) format("woff2"),
    url(../fonts/PublicSans-ThinItalic.woff) format("woff"),
    url(../fonts/PublicSans-ThinItalic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 200;
  font-display: fallback;
  src: url(../fonts/PublicSans-ExtraLightItalic.woff2) format("woff2"),
    url(../fonts/PublicSans-ExtraLightItalic.woff) format("woff"),
    url(../fonts/PublicSans-ExtraLightItalic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url(../fonts/PublicSans-LightItalic.woff2) format("woff2"),
    url(../fonts/PublicSans-LightItalic.woff) format("woff"),
    url(../fonts/PublicSans-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(../fonts/PublicSans-Italic.woff2) format("woff2"),
    url(../fonts/PublicSans-Italic.woff) format("woff"),
    url(../fonts/PublicSans-Italic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
  src: url(../fonts/PublicSans-MediumItalic.woff2) format("woff2"),
    url(../fonts/PublicSans-MediumItalic.woff) format("woff"),
    url(../fonts/PublicSans-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 600;
  font-display: fallback;
  src: url(../fonts/PublicSans-SemiBoldItalic.woff2) format("woff2"),
    url(../fonts/PublicSans-SemiBoldItalic.woff) format("woff"),
    url(../fonts/PublicSans-SemiBoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(../fonts/PublicSans-BoldItalic.woff2) format("woff2"),
    url(../fonts/PublicSans-BoldItalic.woff) format("woff"),
    url(../fonts/PublicSans-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 800;
  font-display: fallback;
  src: url(../fonts/PublicSans-ExtraBoldItalic.woff2) format("woff2"),
    url(../fonts/PublicSans-ExtraBoldItalic.woff) format("woff"),
    url(../fonts/PublicSans-ExtraBoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 900;
  font-display: fallback;
  src: url(../fonts/PublicSans-BlackItalic.woff2) format("woff2"),
    url(../fonts/PublicSans-BlackItalic.woff) format("woff"),
    url(../fonts/PublicSans-BlackItalic.ttf) format("truetype");
}

html {
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #666;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  color: #424242;
}

.mono {
  font-family: "DM Mono", monospace;
  font-weight: 400;
}

.post-content p,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content blockquote,
.post-content ul,
.post-content ol,
.post-content hr {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 3rem; */
  margin-bottom: 3rem;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.013rem;
}

.post-content ul {
  padding-left: 1.5rem;
}

.f4 {
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.013rem;
}

.post-content strong {
  color: #424242;
}

ol li h2 {
  margin-bottom: 0px !important;
}
ol li .gatsby-resp-image-wrapper {
  margin-bottom: 5rem;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.post-content figcaption {
  font-size: 0.8rem;
  color: #999;
  margin-top: 1rem;
  text-align: center;
}

.post-content figure {
  margin: 0px;
}

.post-content figure + p,
.post-content figure + h2,
.post-content figure + h3,
.gatsby-resp-image-wrapper + p,
.gatsby-resp-image-wrapper + h2,
.gatsby-resp-image-wrapper + h3,
.post-content figcaption + p,
.post-content figcaption + h2,
.post-content figcaption + h3,
div + h2,
div + p {
  margin-top: 4rem;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
  font-weight: 600;
}

.post-content em {
  background-color: #fff3b3;
  font-style: normal;
  border-radius: 4px;
  padding: 0px 4px;
  border-bottom: 1px solid aliceblue;
}

.post-content table {
  width: 100%;
  text-align: left;
  font-size: 1.3em;
  border-collapse: collapse;
  vertical-align: text-top;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.post-content table th {
  /* border-bottom: 2px solid #181818; */
  padding-bottom: 1rem;
  vertical-align: top;
}
.post-content table th .gatsby-resp-image-wrapper {
  margin-top: 0px;
}

.post-content table td {
  width: 50%;
  padding-top: 1rem;
  vertical-align: top;
  padding-right: 4rem;
}

.post-content table td strong {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-weight: 600;
}

.post-content blockquote {
  padding: 2.5rem;
  margin: 4rem auto;
  border: 2px solid #eee;
  border-radius: 16px;
}
.post-content blockquote p {
  margin: 0px !important;
  margin-right: 0px;
}
.post-content p + p > span {
  margin-top: 3rem;
}
.post-content a {
  color: inherit;
}

/* .lh-copy p:first-child {
  padding-top: 0px;
  margin-top: 0px;
} */

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.blinking:after {
  animation: blinkingText 0.8s infinite;
  content: "";
  display: inline;
  font-size: 1em;
  position: absolute;
  margin-left: 0.2em;
  transition: color 0.1s;
}

.blinking {
  animation: blinkingText 0.8s infinite;
  color: #222;
  /* transition: all .5s; */
}

@keyframes blinkingText {
  0% {
    /* color: lightpink; */
    content: " ↑";
  }
  15% {
    /* color: skyblue; */
    content: " ↗";
  }
  30% {
    /* color: goldenrod; */
    content: " →";
  }
  45% {
    /* color: lightgreen; */
    content: " ↘";
  }
  60% {
    /* color: lightcoral; */
    content: " ↓";
  }
  75% {
    /* color: tan; */
    content: " ↙";
  }
  100% {
    /* color: slateblue; */
    content: " ←";
  }
}

#filters::-webkit-scrollbar {
  display: none;
}
.b {
  font-weight: 400;
}
.gatsby-resp-image-wrapper {
  margin-top: 4rem;
}
ol {
  list-style: none;
  padding-left: 4rem;
}
ol li {
  counter-increment: li;
  position: relative;
  margin-bottom: 2rem;
}
ol li:before {
  content: counter(li);
  position: absolute;
  left: -4rem;
  top: 0rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  height: 0.7rem;
  line-height: 0.75rem;
  text-align: center;
  width: 0.7rem;
  background-color: #222;
  padding: 0.75rem;
  border-radius: 100%;
}

.tracked-tight {
  letter-spacing: -0.04em;
}
